﻿.notification {
    position: fixed;
    z-index: 10000;
    padding: 0px;
    bottom:0px;
    right:0px;
    width:214px;
}

.nitem {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    list-style-type: none;
    margin: 4px;
    border-radius:5px;
    font: normal 20px Georgia;
    background: white;
    text-align: center;
    height: 52px;
}

.message {
    background: rgba(68, 69, 78, 0.75);
    color: white;
}
