﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<User> SignInManager
@inject IViewLocalizer loc

@{
    ViewData["Title"] = @loc["LogOn"];
}

<div id="main" class="wrapper style1">
    <div class="container">
        <section>
            <h2>@ViewData["Title"]</h2>
        </section>
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <h4>@loc["Usealocalaccounttologin"]</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group 6u 12u$(xsmall)">
                    <p></p>
                    <label asp-for="Login" class="col-md-2 control-label"></label>
                    <div class="col-md-10 ">
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group 6u 12u$(xsmall)">
                    <p></p>
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <label asp-validation-for="Password" class="text-danger"></label>
                    </div>
                </div>
                <div>
                    <div class="6u 12u$(medium)">
                        <input id="RememberMe" asp-for="RememberMe">
                        <label asp-for="RememberMe">
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <div>
                        <button class="button special" type="submit" >@loc["Login"]</button>
                    </div>
                </div>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">@loc["Registration"]</a>
                </p>
            </form>
        </section>
    </div>
</div>
