﻿@using Microsoft.AspNetCore.Builder

@using Microsoft.Extensions.Options
@model RegisterViewModel
@inject IViewLocalizer loc
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewData["Title"] = loc["Register"];
    var cultureItems = LocOptions.Value.SupportedUICultures
    .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
    .ToList();
}

<div id="main" class="wrapper style1">
    <div class="container">
        <section>
            <h2>@ViewData["Title"]</h2>
        </section>
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h2>@loc["Createanewaccount"]</h2>
            <hr />
            <h3>@loc["Systemnformation"]</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group 6u 12u$(xsmall)">
                <p></p>
                <label asp-for="Email" ></label>
                <div >
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group 6u 12u$(xsmall)">
                <p></p>
                <label asp-for="Password" ></label>
                <div >
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group 6u 12u$(xsmall)">
                <p></p>
                <label asp-for="ConfirmPassword" ></label>
                <div >
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password"  />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <h3>@loc["Usernformation"]</h3>
            <div class="form-group 6u 12u$(xsmall)">
                <p></p>
                <label asp-for="FirstName" ></label>
                <div >
                    <input asp-for="FirstName" class="form-control" placeholder="First name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group 6u 12u$(xsmall)">
                <p></p>
                <label asp-for="LastName" ></label>
                <div >
                    <input asp-for="LastName" class="form-control" placeholder="Last name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group 6u 12u$(xsmall)">
                <p></p>
                <label asp-for="Localization" ></label>
                <div >
                    <select name="Localization" asp-for="Localization" class="form-control" asp-items="cultureItems"></select>
                    <span asp-validation-for="Localization" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group 6u 12u$(xsmall)">
                <p></p>
                <label asp-for="Address" ></label>
                <div >
                    <input asp-for="Address" class="form-control" placeholder="Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group 6u 12u$(xsmall)">
                <p></p>
                <label asp-for="PhoneNumber"></label>
                <div>
                    <div class="6u 12u$(xsmall)">
                        <input asp-for="PhoneNumber" type="text" id="name" placeholder="Phone" />
                    </div>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="button special">@loc["RegisterOn"]</button>
                </div>
            </div>
        </form>
    </div>
</div>
