﻿@using HelloTickets.Models.DataTemplate
@using HelloTickets.Models.Home
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject IViewLocalizer loc
@inject IOptions<RequestLocalizationOptions> LocOptions
@model UserInfoViewModel
@{
    ViewData["Title"] = @loc["Title"];
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>@loc["Title"]</h2>
        </header>
        <div class="row 150%">
            <div class="table-wrapper">
                <form asp-controller="User" asp-action="EditUser" method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="FirstName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="LastName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="Localization"></label>
                        <div>
                            <select name="Localization" asp-for="Localization" class="form-control" asp-items="cultureItems"></select>
                            <span asp-validation-for="Localization" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="Adress" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Adress" class="form-control" />
                            <span asp-validation-for="Adress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="PhoneNomber" ></label>
                        <div>
                            <div class="col-md-10">
                                <input asp-for="PhoneNomber" type="text" />
                            </div>
                            <span asp-validation-for="PhoneNomber" class="text-danger"></span>
                        </div>
                    </div>

                    <div>
                        <p></p>
                        <div>
                            <button class="button special" asp-route-id="@Model.Id" type="submit">@loc["Update"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
