﻿@using HelloTickets.Models.DataTemplate
@using HelloTickets.Models.Manage;
@inject IViewLocalizer loc
@model UserViewModel
@{
    ViewData["Title"] = @loc["Title"];
}

<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>@loc["Title"]</h2>
        </header>
        <div class="row 150%">
            <div class="table-wrapper">
                <form asp-controller="User" asp-action="EditUser" method="post" class="form-horizontal">
                    <h3>@loc["EditUser"]</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="Name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <p></p>
                        <label asp-for="RoleId" class="col-md-2 control-label"></label>
                        <div class="select-wrapper">
                            <select asp-for="RoleId" asp-items="@Model.Roles" id="category">
                                <option value="">- Role -</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <div>
                            <button class="button special" asp-route-idUser="@Model.Id" type="submit">@loc["Update"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
