﻿@using HelloTickets.Models.DataTemplate
@using HelloTickets.Models.Manage;
@inject IViewLocalizer loc
@model IEnumerable<UserListViewModel>
@{
    ViewData["Title"] = @loc["Title"];
}

<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>@loc["Title"]</h2>
        </header>
        <div >
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>@loc["Name"]</th>
                            <th>@loc["Email"]</th>
                            <th>@loc["Role"]</th>
                            <th>@loc["Action"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var a in Model)
                        {
                        <tr>
                            <td>@a.Name</td>
                            <td>@a.Email</td>
                            <td>@a.RoleName</td>
                            <td>
                                @if (a.RoleName == "sadmin")
                                {
                                    <code>sadmin</code>
                                }
                                else if (a.Name != User.Identity.Name)
                                {
                                    <a asp-area="" asp-route-idUser="@a.Id" asp-controller="User" asp-action="Edituser"> @loc["Edit"] </a>

                                    <a id="deleteUserModal" data-toggle="modal" asp-action="DeleteUser" asp-route-id="@a.Id" data-target="#modal-action-user" class="btn btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i> @loc["Delete"]
                                    </a>
                                }
                                else
                                {
                                    <code>@loc["Current"]</code>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>