﻿@using HelloTickets.Models.Home
@inject IViewLocalizer loc
@model AddTicketViewModel
@{
    ViewData["Title"] = @loc["Title"];
}

<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>@loc["Title"]</h2>
        </header>
        <div class="row 150%">
            <div class="table-wrapper">
                <form asp-controller="Ticket" asp-action="AddTicket" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <h3>@loc["InfoTitle"]</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="Price" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="EventId" class="col-md-2 control-label"></label>
                        <div class="select-wrapper">
                            <select asp-for="EventId" asp-items="@Model.Events" id="category">
                                <option value="">- @loc["Event"] -</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <div>
                            <button class="button special" type="submit">@loc["Add"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
