﻿@using HelloTickets.Models.DataTemplate
@inject IViewLocalizer loc
@model IEnumerable<Event>
@{
    ViewData["Title"] = loc["Title"];
}

<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>@loc["Events"]</h2>
        </header>
        <div class="box alt">
            <div class="row uniform">
                @foreach (Event ev in Model)
                {
                    <section class="4u 6u(medium) 12u$(xsmall)">
                        <h4><a asp-area="" asp-route-id="@ev.Id" asp-controller="Home" asp-action="Tickets">@ev.Name</a></h4>
                        <p>@ev.Venue.City.Name  @ev.Venue.Address</p>
                        <img width="170" height="170" src="@Url.Content(@ev.Banner)" alt="" class="alt major fa-area-chart" />
                        <p>@loc["Date"] @ev.Date.ToString("dd.MM.yyyyг.")</p>
                    </section>
                }
                </div>
            </div>
        </div>
    </div>
