﻿@using HelloTickets.Models.DataTemplate
@using HelloTickets.Models.Home;
@inject IViewLocalizer loc
@model IndexViewModel
@{
    ViewData["Title"] = loc["Title"];
}
<div class="acontent">
    <header class="major">
        <span class="image main"><img src="~/images/Bmap.png" /></span>
        <h2>@loc["Velcome"]</h2>
        <p>@loc["VelcomeDescription"]</p>
    </header>
</div>
