﻿@using HelloTickets.Models.DataTemplate
@using HelloTickets.Models.Home;
@inject IViewLocalizer loc
@model IndexViewModel
@{
    ViewData["Title"] = loc["Title"];
}

    <section id="one" >
        <div class="content">
            <header class="major">
                <h2>@loc["Velcome"]</h2>
                <p>@loc["VelcomeDescription"]</p>
                <img src="~/images/Banner.png" alt="" />
            </header>
        </div>
        @*@await Html.PartialAsync("GlobalMap")*@
        <h3><a href="#two" class="goto-next scrolly"></a></h3>
    </section>

    <section id="two" class="spotlight style1 bottom">
        <span class="image fit main"><img src="images/background.jpg" alt="" /></span>
        <div class="content">
            <header >
                <h3>@loc["Events"]</h3>
                <p>@loc["EventsDescription"]</p>
                <hr />
            </header>
            <div class="box alt">
                <div class="row uniform">
                    @foreach (Event ev in Model.TopEvents)
                    {
                        <section class="4u 6u(medium) 12u$(xsmall)">
                            <header>
                                <h3>
                                    <a asp-area="" asp-route-id="@ev.Id" asp-controller="Home" asp-action="Tickets">@ev.Name</a>
                                    <small>(@ev.Date.ToString("dd.MM.yyyyг."))</small>
                                </h3>
                            </header>
                            <img src="@Url.Content(@ev.Banner)" alt="" class="alt major fa-area-chart" />
                            <p>@ev.Venue.City.Name @ev.Venue.Address</p>
                        </section>
                    }
                </div>
                <a asp-area="" asp-controller="Home" asp-action="Events" class="button">@loc["LearnMore"]</a>
            </div>
        </div>
        <h3><a href="#three" class="goto-next scrolly"></a></h3>
    </section>

    <section id="three" class="spotlight style3 bottom">
        <span class="image fit main"><img src="images/background1.jpg" alt="" /></span>
        <div class="content">
            <header >
                <h3>@loc["Tickets"]</h3>
                <p>@loc["TicketsDescription"]</p>
                <hr />
            </header>
            <header class="box alt">
                <div class="row uniform">
                    @foreach (Ticket t in Model.TopTickets)
                    {
                        <section class="4u 6u(medium) 12u$(xsmall)">
                            <header>
                                <h4>@t.Event.Name</h4>
                                <p>@t.Event.Venue.City.Name  @t.Event.Venue.Address</p>
                            </header>
                            <img src="@Url.Content(@t.Event.Banner)" alt="" class="alt major fa-area-chart" />

                            <ul class="alt">
                                <li><bold>@loc["Date"]</bold> @t.Event.Date.ToString("dd.MM.yyyy г.")</li>
                                <li><bold>@loc["Price"]</bold> @t.Price </li>
                                <li><bold>@loc["Seller"]</bold> @t.Seller.FirstName @t.Seller.LastName</li>
                            </ul>
                        </section>
                    }
                </div>
                <a asp-area="" asp-controller="Home" asp-action="Tickets" class="button">@loc["LearnMore"]</a>
            </header>
        </div>
    </section>

