﻿@using HelloTickets.Models.DataTemplate
@inject IViewLocalizer loc
@model IEnumerable<Order>
@{
    ViewData["Title"] = "My orders Page";
}

<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>@loc["MyOrders"]</h2>
        </header>
        <div >
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>@loc["Event"]</th>
                            <th>@loc["Buyer"]</th>
                            <th>@loc["Price"]</th>
                            <th>@loc["Status"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Order t in Model)
                        {
                            <tr>
                                <td><img width="50" height="50" src="@Url.Content(@t.Ticket.Event.Banner)" alt="" class="alt major fa-area-chart" /></td>
                                <td>@t.Ticket.Event.Name @t.Ticket.Event.Venue.City.Name @t.Ticket.Event.Venue.Address</td>
                                <td>@t.Buyer.FirstName @t.Buyer.LastName</td>
                                <td>@t.Ticket.Price $</td>
                                <td>@loc[t.Status.ToString()]</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
