﻿@using HelloTickets.Models.Home
@inject IViewLocalizer loc
@model MyTicketsViewModel
@{
    ViewData["Title"] = loc["Title"];
}

    <section id="one" >
        <div class="content">
            <header class="major">
                <h2>@loc["MyTickets"] - @loc["Selling"]</h2>
            </header>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>@loc["EventName"]</th>
                            <th>@loc["CityAdress"]</th>
                            <th>@loc["Price"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Ticket t in Model.Selling)
                        {
                            <tr>
                                <td><img width="50" height="50" src="@Url.Content(@t.Event.Banner)" alt="" class="alt major fa-area-chart" /></td>
                                <td>@t.Event.Name</td>
                                <td>@t.Event.Venue.City.Name  @t.Event.Venue.Address</td>
                                <td>@t.Price $</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>

        </div>
        <h3><a href="#two" class="goto-next scrolly"></a></h3>
    </section>

    <section id="two" >
        <div class="content">
            <header class="major">
                <h2>@loc["MyTickets"] - @loc["WaitingConfirmation"]</h2>
            </header>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>@loc["EventName"]</th>
                            <th>@loc["CityAdress"]</th>
                            <th>@loc["Price"]</th>
                            <th>@loc["Control"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TicketOrderViewModel t in Model.WaitingConfirmation)
                        {
                            <tr>
                                <td><img width="50" height="50" src="@Url.Content(@t.Event.Banner)" alt="" class="alt major fa-area-chart" /></td>
                                <td>@t.Event.Name</td>
                                <td>@t.Event.Venue.City.Name  @t.Event.Venue.Address</td>
                                <td>@t.Price $</td>
                                <td>
                                    <a asp-area="" asp-controller="Trade" asp-route-status="@true" asp-route-Id="@t.OrderId" asp-action="Confirmation" class="button">@loc["Confirmation"]</a>
                                    <a asp-area="" asp-controller="Trade" asp-route-status="@false" asp-route-Id="@t.OrderId" asp-action="Confirmation" class="button">@loc["Rejected"]</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>

        </div>
        <h3><a href="#three" class="goto-next scrolly"></a></h3>
    </section>

    <section id="three" >
        <div class="content">
            <header class="major">
                <h2>@loc["MyTickets"] - @loc["Sold"]</h2>
            </header>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>@loc["EventName"]</th>
                            <th>@loc["CityAdress"]</th>
                            <th>@loc["Price"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Ticket t in Model.Sold)
                        {
                            <tr>
                                <td><img width="50" height="50" src="@Url.Content(@t.Event.Banner)" alt="" class="alt major fa-area-chart" /></td>
                                <td>@t.Event.Name</td>
                                <td>@t.Event.Venue.City.Name  @t.Event.Venue.Address</td>
                                <td>@t.Price $</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>



