﻿
@using HelloTickets.Models.DataTemplate
@using HelloTickets.Models.Home
@model ATicketsViewModel
@inject IViewLocalizer loc
@{
    ViewData["Title"] = loc["Title"];
}

<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>@loc["Tickets"]</h2>
            <h3>@ViewData["NameEvents"]</h3>
            
        </header>
        <div class="row 150%">
            @foreach (TicketsViewModel t in Model.Tickets)
            {
                <section class="4u 6u(medium) 12u$(xsmall)">
                    <header>
                        <h4>@t.Event.Name</h4>
                        <p>@t.Event.Venue.City.Name  @t.Event.Venue.Address</p>
                    </header>
                    <img width="170" height="170" src="@Url.Content(@t.Event.Banner)" alt="" class="alt major fa-area-chart" />

                    <ul class="alt">
                        <li><bold>@loc["Date"]</bold> @t.Event.Date.ToString("dd.MM.yyyy г.")</li>
                        <li><bold>@loc["Price"]</bold> @t.Price </li>
                        <li><bold>@loc["Seller"]</bold> @t.Seller.FirstName @t.Seller.LastName 
                            @if (t.Seller.UserName == User.Identity.Name)
                            {
                                <code>@loc["Current"]</code>
                            }
                            else if(t.IsValid)
                            {
                                <a asp-area="" asp-controller="Trade" asp-route-ticketID="@t.Id" asp-action="Buy" class="button special">@loc["Buy"]</a>
                            }
                            else
                            {
                                <code>@loc["Order"]</code>
                            }
                        </li>
                    </ul>
                    <header />
                </section>
            }
        </div>
    </div>
</div>
@if(@Model.confirmation)
{
    <script>
        shownote({ html: '<n3>Билеты</n3><p>Заказ подтверждена</p>', className: 'message', time: 10000 });
    </script>
}
