﻿@using HelloTickets.Models.Home
@inject IViewLocalizer loc
@model UserInfoViewModel 
@{
    ViewData["Title"] = @loc["Title"];
}

<div id="main" class="wrapper style1">
    <div class="container">
        <div class="row 150%">
            <h5>
                @loc["FirstName"]
            </h5>
            <p>@Model.FirstName</p>
        </div>
        <div class="row 150%">
            <h5>
                @loc["LastName"]
            </h5>
            <p>@Model.LastName</p>
        </div>
        <div class="row 150%">
            <h5>
                @loc["Localization"]
            </h5>
            <p>@Model.Localization</p>
        </div>
        <div class="row 150%">
            <h5>
                @loc["Email"]
            </h5>
            <p>@Model.Email</p>
        </div>
        <div class="row 150%">
            <h5>
                @loc["Address"]
            </h5>
            <p>@Model.Adress</p>
        </div>
        <div class="row 150%">
            <h5>
                @loc["PhoneNumber"]
            </h5>
            <p>@Model.PhoneNomber</p>
        </div>
        <div class="row 150%">
            <h3><a asp-area="" asp-route-idUser="@Model.Id" asp-controller="User" asp-action="EditCurrentUser"> @loc["Edit"] </a></h3>
        </div>    
    </div>
</div>
