﻿@using HelloTickets.Models.DataControl
@inject IViewLocalizer loc

<section id="two" >
    <div class="content">
        <header class="major">
            <h2>@loc["Venue"]</h2>
        </header>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>@loc["Name"]</th>
                        <th>@loc["Addres"]</th>
                        <th>@loc["City"]</th>
                        <th>@loc["Action"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Venue v in Model.Venues)
                    {
                        <tr>
                            <td>@v.Name</td>
                            <td>@v.Address</td>
                            <td>@v.City.Name</td>
                            <td>
                                <span>
                                    <a class="button special" asp-route-id="@v.Id" asp-controller="Venue" asp-action="EditVenue">@loc["Update"]</a>
                                    <a class="button special" asp-route-id="@v.Id" asp-controller="Venue" asp-action="RemoveVenue">@loc["Delete"]</a>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <div class="row">
                <div class="6u 12u$(xsmall)">
                    <ul class="actions small">
                        @if (Model.PageVenueViewModel.HasPreviousPage)
                        {
                            <li>
                                <a asp-controller="DataControl" asp-action="DataList"
                                   asp-route-pageV="@(Model.PageVenueViewModel.PageNumber - 1)"
                                   asp-fragment="two"
                                   class="button fit left">
                                    <
                                </a>
                            </li>
                        }

                        @if(Model.PageVenueViewModel.HasPreviousPage || Model.PageVenueViewModel.HasNextPage)
                        {
                            <li><h3>@Model.PageVenueViewModel.PageNumber</h3></li>
                        }

                        @if (Model.PageVenueViewModel.HasNextPage)
                        {
                            <li>
                                <a asp-controller="DataControl" asp-action="DataList"
                                   asp-route-pageV="@(Model.PageVenueViewModel.PageNumber + 1)"
                                   asp-fragment="two"
                                   class="button fit left">
                                    >
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <a class="button fit left" asp-controller="Venue" asp-action="AddVenue">@loc["AddVenue"]</a>
        </div>
    </div>
    <h3><a href="#three" class="goto-next scrolly"></a></h3>
</section>