﻿@using HelloTickets.Models.DataControl
@inject IViewLocalizer loc
<section id="three" >
    <div class="content">
        <header class="major">
            <h2>@loc["Events"]</h2>
        </header>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>@loc["Name"]</th>
                        <th>@loc["Date"]</th>
                        <th>@loc["Image"]</th>
                        <th>@loc["Description"]</th>
                        <th>@loc["Venue"]</th>
                        <th>@loc["Action"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Event e in Model.Events)
                    {
                        <tr>
                            <td>@e.Name</td>
                            <td>@e.Date.ToString("dd.MM.yyyy г.")</td>
                            <td><img width="50" height="50" src="@Url.Content(@e.Banner)" alt="" class="alt major fa-area-chart" /></td>
                            <td>@Html.Raw(e.Description)</td>
                            <td>@e.Venue.Name</td>
                            <td>
                                <span>
                                    <a class="button special" asp-route-id="@e.Id" asp-controller="Event" asp-action="EditEvent">@loc["Update"]</a>
                                    <a class="button special" asp-route-id="@e.Id" asp-controller="Event" asp-action="RemoveEvent">@loc["Delete"]</a>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <div class="row">
                <div class="6u 12u$(xsmall)">
                    <ul class="actions small">
                        @if (Model.PageEventViewModel.HasPreviousPage)
                        {
                            <li>
                                <a asp-controller="DataControl" asp-action="DataList"
                                   asp-route-pageE="@(Model.PageEventViewModel.PageNumber - 1)"
                                   asp-fragment="three"
                                   class="button fit left">
                                    <
                                </a>
                            </li>
                        }

                        @if(Model.PageEventViewModel.HasPreviousPage || Model.PageEventViewModel.HasNextPage)
                        {
                            <li><span>@Model.PageEventViewModel.PageNumber</span></li>
                        }

                        @if (Model.PageEventViewModel.HasNextPage)
                        {
                            <li>
                                <a asp-controller="DataControl" asp-action="DataList"
                                   asp-route-pageE="@(Model.PageEventViewModel.PageNumber + 1)"
                                   asp-fragment="three"
                                   class="button fit left">
                                    >
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <a class="button fit left" asp-controller="Event" asp-action="AddEvent">@loc["AddEvent"]</a>
        </div>
    </div>
</section>
