﻿@using HelloTickets.Models.DataControl
@inject IViewLocalizer loc
<section id="one" >
    <div class="content">
        <header class="major">
            <h2>@loc["Cities"]</h2>
        </header>
        <div class="table-wrapper fit">
            <table>
                <thead>
                    <tr>
                        <th>@loc["Name"]</th>
                        <th>@loc["Action"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (City c in Model.Cities)
                    {
                        <tr>
                            <td>@c.Name</td>
                            <td>
                                <span>
                                    <a class="button special" asp-route-id="@c.Id" asp-controller="City" asp-action="EditCity">@loc["Update"]</a>
                                    <a class="button special" asp-route-id="@c.Id" asp-controller="City" asp-action="RemoveCity">@loc["Delete"]</a>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <div class="row">
                <div class="6u 12u$(xsmall)">
                    <ul class="actions small">
                        @if (Model.PageCitiesViewModel.HasPreviousPage)
                        {
                        <li>
                            <a asp-controller="DataControl" asp-action="DataList"
                                asp-route-pageC="@(Model.PageCitiesViewModel.PageNumber - 1)"
                                class="button fit left">
                                <
                            </a>
                        </li>
                        }
                        @if(Model.PageCitiesViewModel.HasPreviousPage || Model.PageCitiesViewModel.HasNextPage)
                        {
                            <li><span>@Model.PageCitiesViewModel.PageNumber</span></li>
                        }

                        @if (Model.PageCitiesViewModel.HasNextPage)
                        {
                        <li>
                            <a asp-controller="DataControl" asp-action="DataList"
                                asp-route-pageC="@(Model.PageCitiesViewModel.PageNumber + 1)"
                                class="button fit left">
                                >
                            </a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            <a class="button fit left" asp-controller="City" asp-action="AddCity">@loc["AddCity"]</a>
        </div>
    </div>
    <h3><a href="#two" class="goto-next scrolly"></a></h3>
</section>
