﻿@using HelloTickets.Models.DataControl
@inject IViewLocalizer loc
@model EventViewModel
@{
    ViewData["Title"] = @loc["Title"];
}

<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>@loc["Title"]</h2>
        </header>
        <div class="row 150%">
            <div class="table-wrapper">
                <form asp-controller="Event" asp-action="EditEvent" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <h3>@loc["Info"]</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="Name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="Date" class="col-md-2 control-label"></label>
                        <div>
                            <div class="col-md-10">
                                <input type="date" asp-for="Date" />
                            </div>
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="Banner" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input type="file" name="uFile" class="form-control" />
                            <span asp-validation-for="Banner" class="text-danger"></span>
                            <img width="50" height="50" src="@Url.Content(@Model.Banner)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="Description" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="VenueId" class="col-md-2 control-label"></label>
                        <div class="select-wrapper">
                            <select asp-for="VenueId" asp-items="@Model.Venues" id="category">
                                <option value="">- Venue -</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <div>
                            <button class="button special" type="submit" asp-route-LastBanner="@Model.Banner">@loc["Update"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>