﻿@using HelloTickets.Models.DataControl
@inject IViewLocalizer loc
@model VenueViewModel
@{
    ViewData["Title"] = @loc["Title"];
}

<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>@loc["Title"]</h2>
        </header>
        <div class="row 150%">
            <div class="table-wrapper">
                <form asp-controller="Venue" asp-action="AddVenue" method="post" class="form-horizontal">
                    <h3>@loc["Info"]</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="Name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="Adres" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Adres" class="form-control" />
                            <span asp-validation-for="Adres" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <label asp-for="CityId" class="col-md-2 control-label"></label>
                        <div class="select-wrapper">
                            <select asp-for="CityId" asp-items="@Model.Cities" id="category">
                                <option value="">- City -</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <div>
                            <button class="button special" type="submit">@loc["Add"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
