﻿@inject IViewLocalizer loc
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - HelloTickets</title>
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/Notes.css" />
</head>
<body class="landing">
    <div class="notification"><ul id="NotifyPanel" ></ul> </div>
    <script src="~/assets/js/Notes.js"></script>
    <div id="page-wrapper">
        <header id="header" class="Color">
            <h1 id="logo"><a asp-area="" asp-controller="Home" asp-action="Index" >@loc["HelloTickets"]</a></h1>
            <nav id="nav">
                <ul>
                    <li><b><a href="~/TestPage.html"> -=API=- </a></b></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">@loc["Home"]</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Events">@loc["Events"]</a></li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Tickets">@loc["Tickets"]</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul>
                                <li><a asp-area="" asp-controller="Home" asp-action="MyTickets">@loc["Mytickets"]</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Myorders">@loc["Myorders"]</a></li>
                                <li><a asp-area="" asp-controller="Ticket" asp-action="AddTicket">@loc["AddTicket"]</a></li>
                            </ul>
                        }
                    </li>
                    @await Html.PartialAsync("LoginPartial")
                </ul>
            </nav>
        </header>

        @RenderBody();

        <footer id="footer">
            <nav id="nav">
                <ul class="nav">
                    <li><b><a href="~/TestPage.html"> -=API=- </a></b></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">@loc["Home"]</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Events">@loc["Events"]</a></li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Tickets">@loc["Tickets"]</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul>
                                <li><a asp-area="" asp-controller="Home" asp-action="MyTickets">@loc["Mytickets"]</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Myorders">@loc["Myorders"]</a></li>
                                <li><a asp-area="" asp-controller="DataControl" asp-action="AddTicket">@loc["AddTicket"]</a></li>
                            </ul>
                        }
                    </li>
                    @await Html.PartialAsync("LoginPartial")
                </ul>
                <ul class="copyright">
                    <li>@await Html.PartialAsync("Viewlocal")</li>
                </ul>
            </nav>
    </footer>
    </div>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.dropotron.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
