﻿@using Microsoft.AspNetCore.Identity
@using HelloTickets.Models.DataTemplate;
@using System.Security.Claims;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IViewLocalizer loc

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <h5>
            <a asp-area="" asp-controller="Home" asp-action="UserInfo">@loc["Hello"] @UserManager.GetUserName(User)!</a>
        </h5>
        @if (User.Claims.First((x) => x.Type == ClaimTypes.Role) != null &&
            (User.Claims.FirstOrDefault((x) => x.Type == ClaimTypes.Role).Value == "admin" ||
            User.Claims.FirstOrDefault((x) => x.Type == ClaimTypes.Role).Value == "sadmin"))
        {
            <ul>
                <li><a asp-area="" asp-controller="User" asp-action="Users">@loc["Users"]</a></li>
                <li><a asp-area="" asp-controller="DataControl" asp-action="DataList">@loc["Data"]</a></li>
            </ul>
        }
    </li>
    <li>
        <a asp-controller="Account" asp-action="Logout" class="button small special">@loc["Logout"]</a>
    </li>
}
else
{
    <li><a asp-area="" asp-controller="Account" asp-action="Login" class="button small">@loc["Login"]</a></li>
}
