
.field_autocomplete.tagged input {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.field_autocomplete {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  line-height: 1;
  min-width: 300px;
}
.field_autocomplete *, .field_autocomplete *:before, .field_autocomplete *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.field_autocomplete input {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 100%;
  padding: .1em;
  border-bottom: 1px solid #333333;
  background: none;
  color: white;
  display: block;
  padding: .1em;
  border: 1px solid gray;
}
.field_autocomplete input:focus {
  border-color: black;
}
.field_autocomplete input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-style: normal;
}
.field_autocomplete input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-style: normal;
}
.field_autocomplete input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-style: normal;
}
.field_autocomplete input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-style: normal;
}
    .field_autocomplete .tag {
        font-size: 0.7em;
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        right: 0;
        background: #1c1d26;
        padding: 0.7em;
        cursor: pointer;
        color: black;
        overflow: hidden;
        border: 1px solid #cccc00;
    }
    .field_autocomplete .tag:hover {
        background: #1c1d26;
    }
.field_autocomplete.tagged input {
  border: none;
}
    .field_autocomplete .options_list {
        position: absolute;
        top: 100%;
        z-index: 3;
        background: #1c1d26;
        left: 3px;
        right: 3px;
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }
.field_autocomplete .options_list .item_list {
  display: block;
  padding: 0.7em;
  font-size: 0.7em;
}
.field_autocomplete .options_list .item_list strong {
  font-weight: bold;
}
    .field_autocomplete .options_list .item_list.selected {
        background: #1c1d26;
    }
.field_autocomplete.openup .options_list {
  top: auto;
  bottom: 100%;
  -moz-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.6);
}
